# Dependencies
node_modules/
*/node_modules/
.pnpm-store/

# Production builds
dist/
*/dist/
build/
*/build/

# Local Environment & Secrets
.env
.env.*
!.env.example
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Cache
.temp/
.tmp/
.cache/
